version: '3.9'

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  todo:
    build: .
    container_name: todo_server
    depends_on:
      - redis
    ports:
      - "8080:8080"
    volumes:
      - ./tasks.db:/app/tasks.db

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - todo
